.auth-form {
    width: 50vw;
    height: 100vh;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth-form_subtitle {
    color: rgb(180, 184, 193);
}

.auth-form_form {
    max-width: 360px ;
}

.auth-form_registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form_subtitle2 {
    padding-top: 5px;
}


@media (max-width: 700px) {
    .auth-form_registration {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .auth-form {
        width: 100vw;
    }
}