.register-form {
    width: 50vw;
    height: 100vh;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-form_form {
    max-width: 360px ;
}

@media (max-width: 600px) {
    .register-form {
        width: 100vw;
    }
}